.about-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 90vw;
  height: 87vh;
  margin-left: auto;
  margin-right: auto;
  margin-top: 8vh;
  animation: fadeIn 0.5s forwards;
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .about-header {
    font-size: 2rem;
  }
  .about-main,
  .about-main-cuote {
    font-size: 1.4rem;
    text-align: center;
    margin-top: 2vh;
  }
  .about-main-cuote {
    font-style: italic;
  }
  .about-img {
    border-radius: 155px;
    
  }

  
}
