.about-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 90vw;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15vh;

  //----------animation
  animation: fadeIn 0.5s forwards;
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .about-header {
    font-size: 2rem;
  }
  .about-main{

    .text {
      font-size: 1.4rem;
      text-align: center;
      margin-top: 2vh;
      font-style: italic;
    }
  }
  .about-img {
    margin-top: 2vh;
    border-radius: 155px;
  }
}
