.about-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90vw;
  margin-left: auto;
  margin-right: auto;

  animation: fadeIn 3.5s forwards;
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .about-header {
    font-size: 2rem;
  }
  .about-main,
  .about-main-cuote {
    font-size: 1.4rem;
    text-align: center;
    margin-top: 3vh;
  }
  .about-main-cuote {
    font-style: italic;
  }
  .about-img {
    border-radius: 155px;
    margin-top: 5vh;
  }
}
