@use "../app.scss" as *;

.aboutMe-section {
  height: 100dvh;
  margin-top: 64px;
  .aboutMe-text {
    color: $secondaryColor;
    font-size: 1rem;
    font-family: $secondaryFont;
  }
  .title-wrapper {
    position: relative;
    display: flex;
    justify-content: start;
    .about-header {
      font-size: 1.75rem;
    }
  }
  .p1-container {
    margin-top: 14px;
    display: flex;
    gap: 10px;

    
    .p1 {
      letter-spacing: 0.5px;
    }
  }
  .quote-container{
    padding: 0 4dvw;
    display: flex;
    margin-top: 44px;
    .quote{
      margin: 0 auto;
      font-size: 1.5rem;
      font-family: $secondaryFont;
      font-weight: italic;
    }
  }
}
@media (min-width: $breakpoint-tablet) {
  .aboutMe-section{
    padding: 0 15dvw;
  }
}
