.App {
  background-color: $portfolioBgColor;
}
body {
  overflow: auto;

  &::-webkit-scrollbar {
    display: none;
  }
}
.repo-wrapper {
  display: flex;
  flex-direction: column;

  width: 85vw;
  margin: 0 auto;
  box-shadow: 30px 0 50px rgba(0, 0, 0, 0.5), -20px 0 50px rgba(0, 0, 0, 0.5);
  .hero {
    background-image: url("../assets/portfolio-bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 130vh;
    display: flex;
    flex-direction: column;
    position: relative;
    .hero-shade {
      position: absolute;
      bottom: 0;
      width: 85vw;
      height: 20vh;
      background: linear-gradient(
        180deg,
        rgba($portfolioOverlapColor, 0),
        rgba($portfolioOverlapColor, 1)
      ); /* Adjust gradient colors as needed */
      z-index: 2; /* Higher z-index to be on top of the iframe */
    }
    .projects-nav {
      display: flex;
      align-items: center;
      padding: 10px 15px;
      margin-top: 3vh;
      .projects-back-btn {
        display: flex;
        position: fixed;
        justify-self: start;
        padding-right: 10px;
        text-decoration: none;
        transition: all 0.3s ease;
        color: $logoNameColor;
        background: none;
        border: none;
        z-index: 5;
        &:hover {
          transform: scale(1.2);
        }
        img{
          width: 65px;
        }
      }
      .logo-name-container{
        display: inherit;
        align-items: inherit;
        margin-left: auto;
        .projects-name {
          font-size: 26px;
          color: $logoNameColor;
        }
        .projects-logo {
          height: 45px;
        }
      }
    }

    .projects-header {
      color: $logoNameColor;
      font-size: 80px;
      margin: 70px auto 0 auto;
    }
    .latest-repo {
      .projectWrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin: 90px auto;
        width: fit-content;
        box-shadow: 0px 30px 50px rgba(0, 0, 0, 0.7), 30px 0 50px rgba(0, 0, 0, 0.7);
        
        .iframe-container {
          width: 400px;
          min-width: 350px;
          height: 330px;
          overflow: hidden;
          
           .latest-repo-gradient{
            position: absolute;
            height: inherit;
            width: inherit;
            z-index: 3;
            background: linear-gradient(to bottom, transparent, rgb(51, 51, 51));
            display: flex;
            
            h3{
              width: 100%;
              margin-top: auto;
              margin-bottom: 25px;
              font-size: 45px;
              padding: 25px;
              color: white;
              text-align: center;
            }

          }
          .latest-project-tag {
            position: absolute;
            margin: -42px 80px;
            
            width: fit-content;
            font-size: 26px;
            color: $logoNameColor;
            padding: 8px 10px;
            border-radius: 5px 5px 0 0;
            background-color: rgba($portfolioFontColor, 0.8);
          }
          iframe {
            width: 1600px;
            height: 400%;
            transform: scale(0.25);
            transform-origin: 0 0;
            pointer-events: none;
          }
         
        }
        .info-container {
          display: flex;
          flex-direction: column;
          background-color: white;
          color: $logoNameColor;
          width: 150px;
          height: 330px;
          align-self: flex-end;
          align-items: center;
          
          .projectInfo {
            margin: 25% 0;
            font-size: 14px;
            text-align: center;
            height: 55%;
            width: 80%;
            align-content: center;
          }
          a {
            position: absolute;
            margin-top: 230px;
            img {
              width: 60px;
            }
            transition: all ease-in-out 0.2s;
            &:hover{
              scale: 1.2;
            }
          }
        }
      }
    }
  }
  .repo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 100px 0;
    background-color: $portfolioOverlapColor;
  
    .projectWrapper {
      width: 100%;
      height: 400px;
      display: flex;
      flex-direction: row;
      align-items: center;
      overflow: hidden;
  
      .leftIframe {
        border-radius: 0px 350px 350px 0;
        margin-right: auto;
      }
  
      .rightIframe {
        border-radius: 350px 0 0 350px;
        margin-left: auto;
      }
  
      a.iframe-container {
        width: 45%;
        height: 300px;
        overflow: hidden;
        box-shadow: 30px 0 50px rgba(0, 0, 0, 0.7), -20px 0 50px rgba(0, 0, 0, 0.7);
        display: block; /* Ensure anchor takes up space */
  
        iframe {
          width: 100%;
          height: 100%;
          pointer-events: none; /* Disable pointer events on the iframe */
        }
      }
  
      .leftProject {
        right: 20vw;
      }
  
      .rightProject {
        left: 20vw;
      }
  
      .info-container {
        display: flex;
        flex-direction: column;
        margin-top: 200px;
        gap: 25px;
        position: absolute;
        height: inherit;
        width: 20%;
        color: white;
  
        .projectTitle {
          font-size: 25px;
          color: $portfolioFontColor;
        }
  
        .projectInfo {
          font-family: "Garet";
        }
  
        a {
          text-decoration: none;
          color: $portfolioFontColor;
          font-size: 22px;
          gap: 15px;
          align-items: center;
          display: flex;
          width: fit-content;
  
          .project-arrow {
            font-size: 50px;
          }
  
          transition: all ease-in-out 0.2s;
  
          &:hover {
            color: $homeHover;
            scale: 1.08;
          }
        }
      }
    }
  
    h2 {
      color: black;
    }
  }

  // .repo .overlay {
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   width: 100%;
  //   height: 300px; /* Match the height of the iframe */
  //   background: rgba(255, 255, 255, 0); /* Fully transparent */
  //   z-index: 1;
  // }
}
