
.contact-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    margin-top: 15vh;
    padding-bottom: 3vh;
    height: auto;
    background-color: #3a3939;
    
    
    .contact-header{
        padding-top: 5vh;
        font-size: 2rem;
    }
    .contact-list{
        display: inherit;
        width: 80vw;
        align-items: center;
        justify-content: space-evenly;
        margin-top: 3vh;
    }
    .contact-item{
        img{
            width: 70px;
    }
    }
    
}