
.contact-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15vh;
    padding-bottom: 3vh;
    height: 60vh;
    background-color: $contactBgColor;
    

    opacity: 0;
    animation: fadeIn 0.5s forwards;
    @keyframes fadeIn {
      0% {
        opacity: 0;
      }
      
      100% {
        opacity: 1;
      }
    }

    
    .contact-header{
        margin-top: 4vh;
        font-size: 2rem;
        text-align: center;
    }
    .contact-list{
        display: inherit;
        width: 80vw;
        height: 100%;
        align-items: center;
        flex-direction: column;
        justify-content: space-evenly;
        margin-top: 3vh;
        .contact-item{
            img{
                width: 80px;
                
        }
        }
    }
    @media (min-width: $breakpoint-tablet){
        .contact-header{
            padding-top: 10vh;
        }
        .contact-list{
            flex-direction: row;
            
            .contact-item{

                
                img{
                    width: 15vw;
                    max-width: 110px;
                }
            }
        }
    


    }
    
}