.contact-section {
  height: 70dvh;
  background-image: url("../assets/pinecone.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  padding-top: 3dvh;
  padding-bottom: 5dvh;
  .hero-shade {
    background: linear-gradient(to top, rgba(11, 29, 39, 0) 0%, #0b1d27 100%);
    height: 30%;
    position: absolute;
    width: 100%;
    top: 0;
  }
  .title-wrapper {
    height: 16vw;

    position: relative;
    display: flex;
    justify-content: center;
z-index: 10;

    .contact-header {
      font-size: 8vw;
      color: $atentionColor;
      position: absolute;
      top: 0;
    }
    .contact-header-faded {
      font-size: 12vw;
      color: $atentionColor;
      opacity: 60%;
      position: absolute;
      bottom: 0;
    }
  }
  .contactForm-wrapper {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: fit-content;
    margin: 11dvh 10dvw;
    z-index: 15;
    border: 1px solid silver;
    border-radius: 15px;
    
    .contactForm-shade {
      background: linear-gradient(-25deg, rgba(11, 29, 39, 0) 0%, #0b1d27 100%);
      height: 100%;
      border-radius: inherit;
      position: absolute;
      width: 100%;
      top: 0;
      z-index: 10;
    }
    .contact-form {
      z-index: 10;
      display: inherit;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 10px;
      padding-top: 2dvh;
      .input {
        z-index: 15;
        width: 60vw;
        height: 5vw;
        border: none;
        background-color: transparent;
        border-bottom: 3px solid silver;
        color: $fontColor;
        padding-left: 5px;
        padding-top: 5px;
        &::placeholder {
          color: $fontColor;
          position: absolute;
          top: 1;
          left: 1;
        }
      }
      .message {
        width: 60vw;
        height: 50vw;
        margin-bottom: 5dvh;
      }
      button {
        z-index: 15;
        border: none;
        height: fit-content;
        background-color: transparent;
        position: absolute;
        bottom: -2dvh;
        img{
          width: 15dvw;
        }
      }
    }
  }
  // .socials-wrapper {
  //   position: relative;
  //   display: flex;
  //   flex-direction: row;
  //   justify-content: space-around;
  //   align-items: center;
  //   width: 60dvw;
  //   height: 10dvh;
  //   margin-left: auto;
  //   margin-right: auto;
  //   border-radius: 15px;
  //   background: linear-gradient(-25deg, rgba(11, 29, 39, 0) 0%, #0b1d27 100%);
  //   border: 1px solid silver;
  //   z-index: 20;
  //   a {
  //     width: 33%;
  //     display: flex;
  //     justify-content: center;
  //     align-items: center;
  //     z-index: inherit;
  //     img{
        
  //     }
  //   }
  // }
  .bottom-shade {
    background: linear-gradient(to bottom, rgba(11, 29, 39, 0) 0%, #0b1d27 100%);
    height: 20%;
    position: absolute;
    width: 100%;
    bottom: 0;
    z-index: 10;
  }
}
