.loader-wrapper{
    position: absolute;
    width: 100dvw;
    height: 100dvh;
    z-index: 50;
    background-color: $sidesBackgroundColor;
    transition: opacity 1s ease-in-out, visibility 1s ease-in-out;
    opacity: 1;
    visibility: visible;
    .loader{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        h1{
            margin-top: 30px;
            color: $fontColor;
            
        }
    }
    
    
}
.loader-wrapper.hidden{
    opacity: 0;
    pointer-events: none;
}
