#myProjects-section {
  height: fit-content;

  .projects-wrapper {
    .titleAndLatestProject-wrapper {
      height: 70dvh;
      background-image: url("../assets/forest.png");
      background-size: cover;
      background-position: center;
      padding-top: 5dvh;
      position: relative;
      .hero-shade {
        background: linear-gradient(
          to top,
          rgba(11, 29, 39, 0) 0%,
          #0b1d27 100%
        );
        height: 20%;
        position: absolute;
        width: 100%;
        top: 0;
      }
      .title-wrapper {
        height: 8dvh;

        position: relative;
        display: flex;
        justify-content: center;
        .portfolio-header {
          font-size: 4dvh;
          color: $atentionColor;
          position: absolute;
          top: 0;
        }
        .portfolio-header-faded {
          font-size: 6dvh;
          color: $atentionColor;
          opacity: 45%;
          position: absolute;
          bottom: 0;
        }
      }

      .latestProject-wrapper {
        margin-top: 5dvh;
        margin-left: auto;
        margin-right: auto;
        width: 80dvw;
        height: 70%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 3%;
        z-index: 10;
        .latestProject-Top {
          position: relative;
          height: 100%;
          width: 100%;
          border-radius: 25px;
          overflow: hidden;
          iframe {
            width: 200%;
            height: 200%;
            transform: scale(0.5);
            transform-origin: 0 0;
            pointer-events: none;
          }
          .project-shade {
            background: linear-gradient(
              to bottom,
              rgba(11, 29, 39, 0) 0%,
              #0b1d27 100%
            );
            height: 60%;
            position: absolute;
            width: 100%;
            bottom: 0;
          }
          .latestProject-title {
            position: absolute;
            bottom: 10%;
            left: 5%;
            font-size: 3dvh;
          }
        }
        .latestProject-Bottom {
          position: relative;

          height: 100%;
          width: 100%;
          z-index: 10;
          border-radius: 25px;
          overflow: hidden;
          border: 1px solid silver;

          .description-shade {
            background: linear-gradient(
              -25deg,
              rgba(11, 29, 39, 0) 0%,
              #0b1d27 100%
            );
            height: 100%;
            position: absolute;
            width: 100%;
            top: 0;
            z-index: 10;
          }
          .latestProject-description {
            position: absolute;
            width: 80%;
            z-index: 15;
            left: 50%;
            transform: translate(-50%, 30%);
            margin: 0 auto;
            font-size: 2dvh;
          }
          .latestProject-goBtn {
            position: absolute;
            width: inherit;
            bottom: 20%;
            left: 85%;
            width: fit-content;

            // transform: translate(-50%, 30%);
            // margin: 0 auto;
            border: $test;
            img {
              border-radius: 25px;
              width: 7dvh;
              position: absolute;
              z-index: 15;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
            }
            .imgBg {
              width: 6dvh;
              height: 6dvh;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);

              border-radius: 50%;
              position: absolute;
              background-color: $atentionColor;
            }
          }
        }
      }

      .hero-shade-bottom {
        background: linear-gradient(
          to bottom,
          rgba(11, 29, 39, 0) 0%,
          #0b1d27 100%
        );
        height: 20%;
        position: absolute;
        width: 100%;
        bottom: 0;
        z-index: 5;
      }
    }

    .otherProjects-wrapper {
      height: fit-content;
      background-color: $backgroundColor;
      .singleProject-wrapper {
        padding: 3dvh 3dvw 0 3dvw;
        &:last-child {
          padding-bottom: 6dvh;
        }

        .singleProject-container {
          height: 15dvh;
          width: 98%;
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 2%;
          position: relative;

          .iframe-container {
            width: 38%;
            height: 100%;
            position: absolute;
            img {
              -webkit-mask-image: url(../assets/mask.png);
              mask-image: url(../assets/mask.png);
              width: fit-content;
              max-width: 100%;
              height: 100%;

              -webkit-mask-position: center;
              mask-position: center;
              -webkit-mask-repeat: no-repeat;
              mask-repeat: no-repeat;
              mask-size: contain;
              -webkit-mask-size: 100% 100%;
            }
          }
          .leftIframe {
            float: left;
            left: 0;
          }
          .rightIframe {
            float: right;
            right: 0;
          }
          .info-container {
            width: 62%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            position: absolute;

            .project-arrow {
              font-size: 2dvh;
              color: $atentionColor;
            }

            .projectTitle {
              font-size: 3dvh;
              color: $atentionColor;
            }
            .projectInfo {
              font-size: 1.5dvh;
              color: $fontColor;
            }
            .goBtn {
              width: fit-content;
              text-decoration: none;
              display: flex;
              justify-content: center;
              align-items: center;
              color: $fontColor;
              border: 1px solid silver;
              padding: 8px 15px;
              border-radius: 6px;
            }
          }
          .leftProject {
            left: 70%;
            transform: translateX(-50%);
          }
          .rightProject {
            left: 30%;
            transform: translateX(-50%);
            text-align: end;
            align-items: end;
          }
        }
      }
    }
  }
  @media (min-width: $breakpoint-pc) {
    width: 60dvw;
    margin-right: auto;
    margin-left: auto;
    .projects-wrapper{
      
      .titleAndLatestProject-wrapper{
        height: 85dvh;
        .title-wrapper{
          height: 4.5rem;
          width: 100%;
          justify-content: center;
          .portfolio-header{
              font-size: 2.3rem;
            }
            .portfolio-header-faded {
              font-size: 3.3rem;
            }
          }
        
        .latestProject-wrapper{
          width: 60%;
          .latestProject-Top{
            .project-shade{
              height: 80%;
            }
            .latestProject-title{
              font-size: 2rem;
              left: 10%;
          }
        }
          .latestProject-Bottom{
            .latestProject-description{
              font-size: 1.4rem;
            }
          }
        }
      }
      .otherProjects-wrapper{
        .singleProject-wrapper{
          padding-top: 10dvh;
          &:last-child{
            padding-bottom: 10dvh;
          }
          .singleProject-container{
            width: 90%;
            margin-left: auto;
            margin-right: auto;
            .iframe-container{
              height: 140%;              
            }
            .info-container{
              gap: 1dvh;
              .projectTitle{
                font-size: 1.6rem;
              }
              .projectInfo{
                font-size: 1.2rem;
              }
            }
          }
      }
    }
  }
}
}