header {
  display: flex;
  margin-top: auto;
  height: 14vh;
  width: 100%;

  .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1.5rem;
    background-color: rgba(128, 128, 128, 0.6);
    backdrop-filter: blur(10px);
    position: relative;
    width: 50%;
    z-index: 2;
    height: auto;
    border: 1px solid rgb(145, 255, 0);


    .site-logo {
      font-size: 1.6rem;
      color: $fontColor;
      text-decoration: none;
      padding-left: 1rem;
      padding-right: 1rem;
      height: 100%;
      display: flex;
      align-items: center;
      border: 1px solid transparent;
      transition: all 0.3s;
      &:hover {
        border-radius: 5px;
        border: 1px solid $homeHover;
      }
    }

    .btn-menu {
      display: none;
      width: 50px;
      height: 40px;
      border-radius: 5px;
      transition: all 0.3s;
      
      &:hover {
        cursor: pointer;
      }
    }

    .btnOut {
      transform: rotate(90deg);
      background-color: $navBorder;
    }
  }

  .ul-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    .nav-ul {
      transition: all 0.3s;
      z-index: 3;
      background-color: rgba(128, 128, 128, 0.6);
      backdrop-filter: blur(10px);
      font-size: 1.5rem;
      width: 100%;
      text-align: center;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
      border-radius: 0;

      hr {
        display: none;
        margin: 0;
        width: 70%;
        border: 1px solid $navBorder;

      }
      
      .navSeparator{
        margin-bottom: 70px;
        display: flex;
        align-items: center;

        p{
          font-size: 65px;
          font-weight: 200;

        }
      }
      li {
        height: 8vh;
        transition: all 0.3s;
        border: 1px solid transparent;
        
        .tecIcons{
          height: 100%;
          width: 100%;
          
        }
        
        &.navBtnLi:hover {
          border: 1px solid $btnHover;
          border-radius: 10px;
          transition: border 0.3s;
        }
        a {
          display: flex;
          align-items: center;
          padding-left: 1rem;
          padding-right: 1rem;
          height: 100%;
          color: $fontColor;
          text-decoration: none;
          font-size: 18px;
          font-weight: 800;
          font-family: 'Garet', sans-serif;
        }
      }
    }

    .menuOut {
      transform: none;
    }
  }
}
