@use "../app.scss" as *;

.navbar {
  display: flex;
  width: 100%;
  margin-top: 20px;
  position: relative;
  
  //   overflow: hidden;
  .logo-wrapper {
    margin-left: clamp(0%, 5%, 40px);
    .logo-container {
      background: $primaryColor;
      border-radius: 13px;
      padding: 5px 3px;
      display: flex;
      justify-content: center;
      img {
        width: 50px;
        height: auto;
        align-self: center;
      }
    }
  }

  .ul-wrapper {
    position: fixed;
    height: 100dvh;
    right: 0;
    z-index: 500;
    .menu-icon {
      margin-top: 0px;
      position: inherit;
      right: clamp(0%, 8%, 50px);
      display: flex;
      z-index: 100;
      // img{
      //   width: 40px;
      //   height: auto;
      //   transition: all 0.3s ease-in-out;
      //   &.active{
      //     transform: rotate(90deg);
      //   }
      // }
      .hb {
        width: 50px;
        margin: 0 auto;
        display: block;
      }
    }
    .nav-ul {
      display: flex;
      font-size: 1.2rem;
      font-family: $secondaryFont;
      padding-top: 80px;
    }
    .nav-ul-mobile {
      z-index: 90;
      height: 100dvh;
      width: 50dvw;
      flex-direction: column;
      background-color: rgb(49, 49, 49);
      gap: 4px;
      transform: translatex(100%);
      margin-top: -20px;
      transition: all 0.3s ease-in-out;
      &.active {
        right: 0px;
        transform: translateX(0%);
      }
    }
    li {
      margin-top: 30px;
      margin-left: 30px;
      margin-right: 30px;
      display: flex;
      justify-content: start;
      a {
        text-decoration: none;
        color: white;
        &.active{
          color: $atentionColor;
        }
      }
    }
  }
  .language-wrapper {
    display: flex;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    align-items: center;
    gap: 10px;
    z-index: 50;
    transition: all 0.3s ease-in-out;
    div {
      display: flex;
      align-content: center;
      justify-content: center;
      gap: 8px;
      img {
        width: 16px;
      }
      p {
        font-size: 1rem;
        align-self: center;
        font-family: $secondaryFont;
        color: white;
      }
    }
    p {
      color: white;
    }
  }
}
@media (min-width: $breakpoint-tablet) {
  .navbar{
justify-content: space-between;
.ul-wrapper{
  position: inherit;
  height: fit-content;
  margin-top: 15px;
  .nav-ul{
    padding-top: 0px;
  }
  li{
    margin-top: 0px;
  }
  
}
    .language-wrapper {
      position: inherit;
      transform: translateX(0);
      left: auto;
      right: clamp(0%, 5%, 40px);
      div{
        img{
          width: 33px;
        }
        p{
          font-size: 1.2rem;
        }
      }
    }
  }
}
