$btnHover: #72c43c;
$homeHover: #c0b021;
$navBgColor: #808080;
header {
  position: fixed;
  width: 100%;
  z-index: 2;
  .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1.5rem;
    background-color: $navBgColor;
    position: relative;
    height: 7vh;
    /*index so its shown above the mobile menu*/
    z-index: 3;
    .site-logo {
      font-size: 1.6rem;
      color: white;
      text-decoration: none;
      padding-left: 1rem;
      padding-right: 1rem;
      height: 100%;
      display: flex;
      align-items: center;
      
      transition: all 0.3s;
      &:hover {
        border-radius: 5px;
        background-color: $homeHover;
      }
    }
    .btn-menu {
      width: 50px;
      height: 40px;
      border-radius: 5px;
      transition: all 0.3s;
      &:hover {
        cursor: pointer;
      }
    }
    .btnOut {
      transform: rotate(90deg);
      background-color: $btnHover;
    }
  }
  .ul-wrapper {
    display: flex;
    justify-content: center;

    .nav-ul {
      transition: all 0.3s;
      z-index: 2;
      background-color: $navBgColor;
      border-radius: 0 0 10px 10px;
      font-size: 1.5rem;
      width: 70%;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      hr {
        margin: 0;
        width: 70%;
      }
      li {
        height: 100%;
        transition: all 0.3s;
        a {
          display: flex;
          align-items: center;
          padding-left: 1rem;
          padding-right: 1rem;
          height: 100%;
          color: white;
          text-decoration: none;
        }
        &:hover {
          background-color: $btnHover;
          border-radius: 10px;
          transition: background-color 0.3s;
        }
      }
    }
    .menuOut {
      transform: translateY(-280px);
    }
  }
}
@media (min-width: $breakpoint-pc) {
  header {
    display: flex;
    
    height: 10vh;
    .nav {
      width: 30%;
      z-index: 2;
      height: auto;
      .btn-menu {
        display: none;
      }
    }
    .ul-wrapper {
      width: 70%;
      .nav-ul {
        flex-direction: row;
        justify-content: space-evenly;
        border-radius: 0;
        z-index: 3;
        width: 100%;
        hr {
          display: none;
        }
      }
      .menuOut {
        transform: none;
      }
    }
  }
}
