.welcome-section{
    margin-top: 14vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 26vh;
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
    z-index: 0;
    /* border: 1px solid red; */
    
    .welcome-greetings{
        font-size: 2.5rem;
        transform: translateX(-100%);
        
    }
    .welcome-description{
        font-size: 1.8rem;
        margin-top: 30px;
        transform: translateX(100%);
       
    }
    .welcome-greetings, .welcome-description{
    opacity: 0; 
    transition: all 1s ease-in-out;
    }
    .fadeIn{
        opacity: 1;
        transform: translateX(0px);
    }
    @media (min-width: $breakpoint-tablet) {
        margin-top: 14vh;
        justify-content: space-evenly;
        .welcome-greetings{
            font-size: 3rem;
        }
        .welcome-description{
            font-size: 2.2rem;
        }
    }
}