.welcome-wrapper::before {
  background-image: url("../assets/bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  filter: blur(5px);
  z-index: -1;
  position: absolute; /* Position it absolutely */
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  content: "";
}
.welcome-wrapper {
  overflow: hidden;
  min-width: 1440px;
  .welcome-section {
    background-size: 100% 100%; /* Maintain aspect ratio */
    background-image: url("../assets/bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 auto; /* Center the content horizontally */
    width: 70%; /* Adjust width as needed */
    height: 70vh; /* Adjust height as needed */
    display: flex;
    flex-direction: column;
    text-align: center;
    z-index: 0;
    margin-top: 15vh;
    position: relative; /* Ensure the pseudo-element is positioned correctly */

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: inherit;
      background-size: inherit;
      background-position: inherit;
      background-repeat: inherit;
      filter: brightness(85%);
      z-index: -1; 
    }

    .greetings-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 7vh;
      .logo-wrapper {
        display: inherit;
        align-items: center;
        
        padding: 0px 10px;
        border-radius: 0 5px 5px 0; /* Optional: rounded corners */
        background-color: rgba(
          128,
          128,
          128,
          0.65
          ); /* Gray background with 60% opacity */
        .logo-name {
          margin-left: 4vw;
          font-size: 2rem;
          
          align-content: center;
          color: $logoNameColor;
        }
        .logo-img {
          height: 8vh;
        }
       
      }
      .social-wrapper {
        display: flex;
        align-items: center;
        margin-right: 5vw;
        .socialBtn1 {
          height: 4vh;
        }
        .socialBtn2 {
          height: 5vh;
        }
        .socialBtn3 {
          height: 5vh;
        }
        .socialBtn4 {
          height: 2vh;
          padding: 1vh;
        }
      }
    }
    .description-wrapper {
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      height: 30vh;
      justify-content: space-around;
      margin-right: 5vw;

      font-size: 1.5rem;
      text-align: right;
      line-height: 5vh;

      .thinFont {
        font-weight: 600;
      }
    }
  }
}
