$breakpoint-tablet: 481px; 
$breakpoint-pc: 1023px;
$primary-color: #001c24;
$btnHover: #00B3E6;
$homeHover: #E63300;
$navBgColor: #001c24;
$contactBgColor: #000000;

@import "/src/styles/Navbar.scss";
@import "/src/styles/Welcome.scss";
@import "/src/styles/Appgallery.scss";
@import "/src/styles/AboutMe.scss";
@import "/src/styles/Contact.scss";


body{
    min-width: 320px;
    box-sizing: border-box;
    background-color: $primary-color;
    color: white;
    strong{
        font-weight:bold;
    }
    em{
        font-style: italic;
    }
}
