$breakpoint-tablet: 768px;
$btnHover: #00B3E6;
$primaryColor: #F5C169;
$secondaryColor: #C8C8C8;
$tagColor: #626262;
$atentionColor: #F5C169;
$backgroundColor: #221F1F;
$sidesBackgroundColor: #07131a;
$test : 1px solid red;
$secondaryFont: 'sansation';
$primaryFont: 'DMSerifText';
$secondaryFontItalic: 'sansationItalic';


@font-face {
    font-family: 'sansation';
    src: url('./fonts/Sansation_Regular.ttf') format('woff2');
    font-weight: 400;
    
}
@font-face {
    font-family: 'sansationItalic';
    src: url('./fonts/Sansation_italic.ttf') format('woff2');
    font-weight: italic;
    
}
@font-face {
    font-family: 'DMSerifText';
    src: url('./fonts/DMSerifText-Regular.ttf') format('woff2');
    font-weight: bold;
}
html{
  scroll-behavior: smooth;
}
body{
    background-color: $backgroundColor;
    min-width: 325px;
    padding: 0 1.5rem;
    
}
h2,h3, p, span{
    color: $secondaryColor;
}


h2{
    font-family: $primaryFont;
  }
  span {
    color: $atentionColor;
  }
  @mixin for-desktop{
    @media (min-width: $breakpoint-tablet) {
      @content;
    }
  }
  