.apps-list-wrapper {
  /* width and height of the carrousel */
  width: 95%;
  height: 50vh;
  background-color: #504E4E;
  color: black;
  margin-top: 100px;

  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  /* overflow: hidden; */
  .apps-list {
    /* width and height of the carrousel windows */
    display: flex;
    width: 90%;
    height: 80%;
    list-style: none;
    overflow: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;

    //if i want to change GAP, change the jsx SLIDEWIDTH calculation
    gap: 3rem;

    /*hides scrollbars but keeps functionality (not all browsers have it hidden i think)*/
    &::-webkit-scrollbar {
      display: none;
    }
    //the first item will get a margin left
    .app-item {
      display: flex;
      /* this makes each item display in the full width of the carousel window if at 0 0 100% */
      flex: 0 0 50%;
      height: 100%;
      //regular transition for when not selected
      scale: 1;
      transition: all 0.5s;
      //sets the scrolling to the center of the item
      scroll-snap-align: center;
      //changes on the first and last child item
      &:first-child {
        //make space to the left of the frist item so its centered
        margin-left: 50%;
      }
      &:last-child {
        //make space to the right of the last item so its centered
        margin-right: 50%;
      }
      //the height and width of the img make the difference with the cards transition!
      img {
        align-self: center;
        height: 250px;
        width: 100%;
        object-fit:cover;
        
      }
    }
    .currentScroll {
      transition: all 1s ease-in-out;
      scale: 1.1;
    }
  }
}
